<section class="submitted reg-padding">
    <div class="illustration-body">
        <div class="illustration-row" class="six" style="text-align: center;"><img class="illustration-image" style="max-width: 70%;" src='assets/illustrations/receivedrequest.png'></div>

        <div class="illustration-row" class="four">
            <h1>Your request has been sent</h1>

            <h2>Order #{{ bookingDetails.id }}</h2>

            <p>
                Your booking has been submitted. We’ll have someone look over it to make sure you’re good to go.
            </p>
            <p>
                We’ll aim to send you a confirmation email within 3 business hours.
            </p>

            <p>
                You can edit your project 24 hours before gear collection by giving us a call on 03 9430 9039.
            </p>
        </div>
    </div>

</section>