@import 'variables';

.white-bg {
  position: relative;
  z-index: 9999;
  background: white;
}

.single-page-header {
  margin-top: -80px;
  padding-top: 72px !important;
  padding-bottom: 50px !important;
  z-index: 9 !important;
  @include lg {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    margin-top: unset;
  }
}

.single-page-body {
  color: black;
  h2 {
    color: black;
  }
  p {
    line-height: 2.2;
  }

  li {
    line-height: 2.2 !important;
    list-style-type: circle;
  }
  ul {
    padding: 0 2em;
  }
}

.grad-back {
  z-index: 9;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  @include lg {
    height: calc(100% - 137px) !important;
    top: 137px !important;
  }
}

.contact {
  padding-bottom: 20px;
}

.page-content {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  li {
    line-height: 1.7;
  }
}
