/**
  * @stylesheet variables.scss Variables Stylesheet
  *
  * @description
  * Variables and colours stylesheets
  */
  
  
$blue: #3A90E7;
$white: #FFFFFF;
$dark-white: #FAFAFA;
$light-grey: #F1F1F1;
$light-blue: #F0F8FC;
$grey: #737373;
$border-grey: #D0D0D0;
$dark-grey: #5F5F5F;
